@import "tailwindcss";
@import "./admin/index.css";

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --radius: 1rem;
    --color-accent: oklch(0.89 0 0);
    --color-destructive-foreground: var(--destructive-foreground);
}

:root {
    --destructive-foreground: oklch(0.985 0 0);
}

.dark {
    --color-accent: oklch(0.229 0 0);
    --destructive-foreground: oklch(0.985 0 0);
}
.auth-layout input,
.dark input {
    color: #fff !important;
    -webkit-text-fill-color: #fff !important;
    caret-color: #fff;
}

.auth-layout input::selection,
.dark input::selection {
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
}

.auth-layout input:-webkit-autofill,
.auth-layout input:-webkit-autofill:hover,
.auth-layout input:-webkit-autofill:focus,
.auth-layout input:-webkit-autofill:active,
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
    color: #fff !important;
    -webkit-text-fill-color: #fff !important;
    caret-color: #fff !important;
    box-shadow: 0 0 0 1000px #09090b inset !important;
    -webkit-box-shadow: 0 0 0 1000px #09090b inset !important;
    transition: background-color 9999s ease-out 0s;
}

.auth-layout input:autofill,
.dark input:autofill {
    color: #fff !important;
    -webkit-text-fill-color: #fff !important;
    box-shadow: 0 0 0 1000px #09090b inset !important;
    -webkit-box-shadow: 0 0 0 1000px #09090b inset !important;
}
